body{
    display: flex;
   align-items: center;
   justify-content: center;
   height: 630px;
  
background-image: url(5498.jpg);
background-size: cover;
}
.Login{
   
    align-items: center;
    justify-content: center;
    border:rgb(91, 253, 15) 2px solid;
    width: 450px;
    height: 250px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 0 rgb(27, 204, 3);
    background-image: linear-gradient(45deg ,rgba(78, 247, 26, 0.418) ,rgb(255, 255, 255));
}



label{

    margin-left: 35%;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
 
}
.Button{
    margin-top: 20px ;
  
}
.Button2{
    border-radius: none;
   
    height: 20px;
    width: 150px;
    margin-left: 35%;
   text-align: center;
    background-color: beige;
  border-radius: 50px;
  margin-top: -10px;
}
.Button1{
    border-radius: none;
    height: 20px;
    width: 150px;
   
    margin-left: 35%;
   text-align: center;
    background-color: beige;
  border-radius: 50px;
}
.Button1:hover{
 
    background-color: #3af515;
  transition: all 1.2s ease-out;
}
.Button2:hover{
 
    background-color: #3af515;
  transition: all 1.2s ease-out;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
   border-radius: 50px;
   height: 20px;
    margin-left: 35%;
}
.Password{
    margin-top: 20px;
}
.loginblock{
    margin-top: 12%;
 
}

