/*CSS for INFO PAGE*/

.BODY{

    margin-left: 100px;
    margin-right: 100px;
    background-image: none;
    height: fit-content;
}
section {
    margin-top: 40px;
    height: 15em;
 
    margin-bottom: 40px;
}
.DisplayGrid1{
    display: grid;
    grid-template-columns: 30em auto;
    box-shadow: 10px 10px 5px 0px rgb(0, 110, 255);
 
    border: 1px solid rgb(0, 110, 255);
    border-radius: 5px;
}
.DisplayGrid2{
    display: grid;
    grid-template-columns: auto 30em;
    border: 1px solid rgb(0, 110, 255);
    box-shadow: 10px 10px 5px 0px rgb(0, 110, 255);
    border-radius: 5px;
}
.Grid-item2{
    height: 15em;
   
   
}
.Grid-item2{
    height: 15em;
   
   
}

.Grid-item1{
    height: 15em;
   

}
img{
    height: 15em;
    width: 30em;
   
}